/*
	                                                              .         .
	b.             8     ,o888888o.     8 888888888o.            ,8.       ,8.                   .8.          8 8888          8 8888  8888888888',8888' 8 8888888888
	888o.          8  . 8888     `88.   8 8888    `88.          ,888.     ,888.                 .888.         8 8888          8 8888         ,8',8888'  8 8888
	Y88888o.       8 ,8 8888       `8b  8 8888     `88         .`8888.   .`8888.               :88888.        8 8888          8 8888        ,8',8888'   8 8888
	.`Y888888o.    8 88 8888        `8b 8 8888     ,88        ,8.`8888. ,8.`8888.             . `88888.       8 8888          8 8888       ,8',8888'    8 8888
	8o. `Y888888o. 8 88 8888         88 8 8888.   ,88'       ,8'8.`8888,8^8.`8888.           .8. `88888.      8 8888          8 8888      ,8',8888'     8 888888888888
	8`Y8o. `Y88888o8 88 8888         88 8 888888888P'       ,8' `8.`8888' `8.`8888.         .8`8. `88888.     8 8888          8 8888     ,8',8888'      8 8888
	8   `Y8o. `Y8888 88 8888        ,8P 8 8888`8b          ,8'   `8.`88'   `8.`8888.       .8' `8. `88888.    8 8888          8 8888    ,8',8888'       8 8888
	8      `Y8o. `Y8 `8 8888       ,8P  8 8888 `8b.       ,8'     `8.`'     `8.`8888.     .8'   `8. `88888.   8 8888          8 8888   ,8',8888'        8 8888
	8         `Y8o.`  ` 8888     ,88'   8 8888   `8b.    ,8'       `8        `8.`8888.   .888888888. `88888.  8 8888          8 8888  ,8',8888'         8 8888
	8            `Yo     `8888888P'     8 8888     `88. ,8'         `         `8.`8888. .8'       `8. `88888. 8 888888888888  8 8888 ,8',8888888888888  8 888888888888
*/


/*body start*/
/*
    ,o888888o.    8 8888888888   b.             8 8 8888888888   8 888888888o.            .8.          8 8888
   8888     `88.  8 8888         888o.          8 8 8888         8 8888    `88.          .888.         8 8888
,8 8888       `8. 8 8888         Y88888o.       8 8 8888         8 8888     `88         :88888.        8 8888
88 8888           8 8888         .`Y888888o.    8 8 8888         8 8888     ,88        . `88888.       8 8888
88 8888           8 888888888888 8o. `Y888888o. 8 8 888888888888 8 8888.   ,88'       .8. `88888.      8 8888
88 8888           8 8888         8`Y8o. `Y88888o8 8 8888         8 888888888P'       .8`8. `88888.     8 8888
88 8888   8888888 8 8888         8   `Y8o. `Y8888 8 8888         8 8888`8b          .8' `8. `88888.    8 8888
`8 8888       .8' 8 8888         8      `Y8o. `Y8 8 8888         8 8888 `8b.       .8'   `8. `88888.   8 8888
   8888     ,88'  8 8888         8         `Y8o.` 8 8888         8 8888   `8b.    .888888888. `88888.  8 8888
    `8888888P'    8 888888888888 8            `Yo 8 888888888888 8 8888     `88. .8'       `8. `88888. 8 888888888888*/

*{
	/*transition: all 0.4s;*/
}
html,.dropHead>ul{
	background-color: white;
}
.bodyBG{
	position: fixed;
	z-index: -5;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

body {
	padding: 10px;
	line-height: 1.6;
	font-size: 15px;
	box-sizing: border-box;
	margin: 0px;
	font-family:  monospace, sans-serif,fantasy;
}

/*.sidePanel:hover{
	left: -25px;
}*/


header,footer{
	width: 100%;
	/*display: flex;*/
	text-align: center;
}
.container{
	clear: both;
	/*display: flex;*/
	width: 100%;
	/*align-content: stretch;*/
}


.sidePanel{
	/*box-sizing: border-box;*/
	height: 100%;
	position: fixed;
	transition: all 0.4s;
	width: 25px;
	border: 1px #242424 solid;
	}

	.sidePanel ul{
		display: none;
		/*visibility: hidden;*/
	}

.mainPanel{
	transition: all 0.4s;
	box-sizing: border-box;
	padding: 16px;
}
.sidePanel+.mainPanel{
	margin-left: 50px;
}

/*
	
	    ,o888888o.        ,o888888o.     b.             8 8888888 8888888888   .8.           8 8888 b.             8 8 8888888888   8 888888888o.
	   8888     `88.   . 8888     `88.   888o.          8       8 8888        .888.          8 8888 888o.          8 8 8888         8 8888    `88.
	,8 8888       `8. ,8 8888       `8b  Y88888o.       8       8 8888       :88888.         8 8888 Y88888o.       8 8 8888         8 8888     `88
	88 8888           88 8888        `8b .`Y888888o.    8       8 8888      . `88888.        8 8888 .`Y888888o.    8 8 8888         8 8888     ,88
	88 8888           88 8888         88 8o. `Y888888o. 8       8 8888     .8. `88888.       8 8888 8o. `Y888888o. 8 8 888888888888 8 8888.   ,88'
	88 8888           88 8888         88 8`Y8o. `Y88888o8       8 8888    .8`8. `88888.      8 8888 8`Y8o. `Y88888o8 8 8888         8 888888888P'
	88 8888           88 8888        ,8P 8   `Y8o. `Y8888       8 8888   .8' `8. `88888.     8 8888 8   `Y8o. `Y8888 8 8888         8 8888`8b
	`8 8888       .8' `8 8888       ,8P  8      `Y8o. `Y8       8 8888  .8'   `8. `88888.    8 8888 8      `Y8o. `Y8 8 8888         8 8888 `8b.
	   8888     ,88'   ` 8888     ,88'   8         `Y8o.`       8 8888 .888888888. `88888.   8 8888 8         `Y8o.` 8 8888         8 8888   `8b.
	    `8888888P'        `8888888P'     8            `Yo       8 8888.8'       `8. `88888.  8 8888 8            `Yo 8 888888888888 8 8888     `88.
*/

/*containers */

.panel{
	padding: 12px;
	width: 100%;
	box-sizing: border-box;
}
/*
	
	b.             8          .8. `8.`888b           ,8'
	888o.          8         .888. `8.`888b         ,8'
	Y88888o.       8        :88888. `8.`888b       ,8'
	.`Y888888o.    8       . `88888. `8.`888b     ,8'
	8o. `Y888888o. 8      .8. `88888. `8.`888b   ,8'
	8`Y8o. `Y88888o8     .8`8. `88888. `8.`888b ,8'
	8   `Y8o. `Y8888    .8' `8. `88888. `8.`888b8'
	8      `Y8o. `Y8   .8'   `8. `88888. `8.`888'
	8         `Y8o.`  .888888888. `88888. `8.`8'
	8            `Yo .8'       `8. `88888. `8.`
*/
.navBody ul,.sidePanel ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.navBody ul::after{
	content: "";
	display: block;
	clear: both;
}
.navBody>ul>li,.navHead,.navBody{
	display: block;
	float: left;
}
.navBody ul li a,.navHead a{
	text-transform: uppercase;
	display: block;
	/*border: red 1px solid;*/
	padding: 13px 15px;
	line-height: 1;
	/*border: none;*/
	text-decoration: none;
}

.navBody>ul>li>a{
}

/*.navBody ul li a:hover{
	background: rgba(50,50,50,0.8);
}*/

.dropHead{
	position: relative;
}


/*.dropHead:hover{
	background: rgba(50,50,50,0.8);
}*/
.dropHead:hover>ul{
	display: block;
}
.dropHead>ul{
	display: none;
	width: 160px;
	padding: 0px;
	position: absolute;
	z-index: +5;
}

.dropHead>ul{
	border: 1px solid #454545;
	/*padding-left: 10px;*/
}
.dropHead>ul>li>a{
	border: none;
	/*padding-left: 10px;*/
}


.sidePanel a{
	width: 100%;
	/*padding: 8px 5px;*/
	box-sizing: border-box;
	border: none;
	/*text-decoration: none;*/
	/*text-transform: uppercase;*/
	display: block;
}
/*
                                                       .         .
8 8888888888   8 8888         8 8888888888            ,8.       ,8.          8 8888888888   b.             8 8888888 8888888888
8 8888         8 8888         8 8888                 ,888.     ,888.         8 8888         888o.          8       8 8888
8 8888         8 8888         8 8888                .`8888.   .`8888.        8 8888         Y88888o.       8       8 8888
8 8888         8 8888         8 8888               ,8.`8888. ,8.`8888.       8 8888         .`Y888888o.    8       8 8888
8 888888888888 8 8888         8 888888888888      ,8'8.`8888,8^8.`8888.      8 888888888888 8o. `Y888888o. 8       8 8888
8 8888         8 8888         8 8888             ,8' `8.`8888' `8.`8888.     8 8888         8`Y8o. `Y88888o8       8 8888
8 8888         8 8888         8 8888            ,8'   `8.`88'   `8.`8888.    8 8888         8   `Y8o. `Y8888       8 8888
8 8888         8 8888         8 8888           ,8'     `8.`'     `8.`8888.   8 8888         8      `Y8o. `Y8       8 8888
8 8888         8 8888         8 8888          ,8'       `8        `8.`8888.  8 8888         8         `Y8o.`       8 8888
8 888888888888 8 888888888888 8 888888888888 ,8'         `         `8.`8888. 8 888888888888 8            `Yo       8 8888
*/
/*elements css*/
p{
	line-height: 1.6;
}


code{
    font-size: 90%;
    white-space: nowrap;
	padding: .2rem .5rem;
	box-sizing: border-box;
}
pre > code{
	display: block;
	width: 100%;
	padding: 2.5rem 3rem;
}

pre{
	overflow-x: auto;
	display: block;
	margin: 13px 0px;
}
/*code::before{
	content: "Code";
	background: #454545;
	box-sizing: border-box;
	padding: 10px;
}*/


kbd{
	padding: 3px 7px;
	border-radius: 4px;
}


kbd,h1,h2,h3,h4,h5,h6{
	text-transform: uppercase;
}

/*table*/
table{
	width: 100%;
}

table > thead > tr > th,
table > tfoot > tr > th{
	text-transform: uppercase;
	text-align: left;
}

th,td{
	padding: 12px 15px;
}

th:first-child, td:first-child{
	padding-left: 0px;
}
th:last-child, td:last-child{
	padding-right: 0px;
}

/*

    ,o888888o.    8 888888888o.    8 8888 8 888888888o.
   8888     `88.  8 8888    `88.   8 8888 8 8888    `^888.
,8 8888       `8. 8 8888     `88   8 8888 8 8888        `88.
88 8888           8 8888     ,88   8 8888 8 8888         `88
88 8888           8 8888.   ,88'   8 8888 8 8888          88
88 8888           8 888888888P'    8 8888 8 8888          88
88 8888   8888888 8 8888`8b        8 8888 8 8888         ,88
`8 8888       .8' 8 8888 `8b.      8 8888 8 8888        ,88'
   8888     ,88'  8 8888   `8b.    8 8888 8 8888    ,o88P'
    `8888888P'    8 8888     `88.  8 8888 8 888888888P'                                              
*/
/*grid css*/


.row{
	display: block;
	width: 100%;
	box-sizing: border-box;
}


nav::after,.navbar::after,.row::after{
	content: "";
	display: block;
	clear: both;
}

[class*="col-"]{
	/*padding: 12px 15px;*/
	box-sizing: border-box;
	float: left;
	margin: 0px;
	width: 100%;
	/*border: 1px solid green;*/
}

/*form css*/

/*                                                            .         .
8 8888888888       ,o888888o.     8 888888888o.            ,8.       ,8.
8 8888          . 8888     `88.   8 8888    `88.          ,888.     ,888.
8 8888         ,8 8888       `8b  8 8888     `88         .`8888.   .`8888.
8 8888         88 8888        `8b 8 8888     ,88        ,8.`8888. ,8.`8888.
8 888888888888 88 8888         88 8 8888.   ,88'       ,8'8.`8888,8^8.`8888.
8 8888         88 8888         88 8 888888888P'       ,8' `8.`8888' `8.`8888.
8 8888         88 8888        ,8P 8 8888`8b          ,8'   `8.`88'   `8.`8888.
8 8888         `8 8888       ,8P  8 8888 `8b.       ,8'     `8.`'     `8.`8888.
8 8888          ` 8888     ,88'   8 8888   `8b.    ,8'       `8        `8.`8888.
8 8888             `8888888P'     8 8888     `88. ,8'         `         `8.`8888.*/


label,input[type="text"],.formElement,input[type="date"], input[type="file"],input[type="number"],input[type="email"],input[type="password"],textarea,select{
	display: block;
	margin-bottom: 10px;
	box-sizing: border-box;
}

label{
	line-height: 1.5;
}

input[type="text"],.formElement,input[type="date"], input[type="file"],input[type="number"],input[type="email"],input[type="password"],textarea,select{
	padding: 6px 10px;
	border: 1px solid #454545;
	outline: none;
	font: inherit;
	width: 100%;
}


input[type="text"],.formElement, input[type="file"],input[type="number"],input[type="email"],input[type="password"],select,a.button{
	height: 38px;
	box-sizing: border-box;
}
select option:hover{
    /*padding: 12px !important;*/
    color: inherit;
}





/*

8 888888888o   8 8888      88 8888888 8888888888 8888888 8888888888 ,o888888o.     b.             8    d888888o.
8 8888    `88. 8 8888      88       8 8888             8 8888    . 8888     `88.   888o.          8  .`8888:' `88.
8 8888     `88 8 8888      88       8 8888             8 8888   ,8 8888       `8b  Y88888o.       8  8.`8888.   Y8
8 8888     ,88 8 8888      88       8 8888             8 8888   88 8888        `8b .`Y888888o.    8  `8.`8888.
8 8888.   ,88' 8 8888      88       8 8888             8 8888   88 8888         88 8o. `Y888888o. 8   `8.`8888.
8 8888888888   8 8888      88       8 8888             8 8888   88 8888         88 8`Y8o. `Y88888o8    `8.`8888.
8 8888    `88. 8 8888      88       8 8888             8 8888   88 8888        ,8P 8   `Y8o. `Y8888     `8.`8888.
8 8888      88 ` 8888     ,8P       8 8888             8 8888   `8 8888       ,8P  8      `Y8o. `Y8 8b   `8.`8888.
8 8888    ,88'   8888   ,d8P        8 8888             8 8888    ` 8888     ,88'   8         `Y8o.` `8b.  ;8.`8888
8 888888888P      `Y88888P'         8 8888             8 8888       `8888888P'     8            `Yo  `Y8888P ,88P'
*/
/*button*/

.button,button,input[type="submit"],input[type="reset"],input[type="button"],.sidePanel>ul>li>a{
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	padding: 10px;
	font-weight: 100;
}
/*.sidePanel a.button:last-of-type{
	border: none;
}
*/


input[type="button"],button,.button,input[type="submit"],input[type="reset"]{
	border: none;
	height: 38px;
	padding: 0px 15px;
	font-size: 15px;
	display: inline-block;
	/*color: white;*/
	line-height: 38px;
}

.buttonBlock{
	display: block;
	width: 100%;
}

.buttonRounded{
	border-radius: 3px;
}


/*
	
	8888888 8888888888 8 8888888888   `8.`8888.      ,8' 8888888 8888888888
	      8 8888       8 8888          `8.`8888.    ,8'        8 8888
	      8 8888       8 8888           `8.`8888.  ,8'         8 8888
	      8 8888       8 8888            `8.`8888.,8'          8 8888
	      8 8888       8 888888888888     `8.`88888'           8 8888
	      8 8888       8 8888             .88.`8888.           8 8888
	      8 8888       8 8888            .8'`8.`8888.          8 8888
	      8 8888       8 8888           .8'  `8.`8888.         8 8888
	      8 8888       8 8888          .8'    `8.`8888.        8 8888
	      8 8888       8 888888888888 .8'      `8.`8888.       8 8888
*/

.rightAlign{
	text-align: right;
}
.centerAlign{
	text-align: center;
}



/*
	          .         .
	         ,8.       ,8.          8 8888888888   8 888888888o.       8 8888          .8.
	        ,888.     ,888.         8 8888         8 8888    `^888.    8 8888         .888.
	       .`8888.   .`8888.        8 8888         8 8888        `88.  8 8888        :88888.
	      ,8.`8888. ,8.`8888.       8 8888         8 8888         `88  8 8888       . `88888.
	     ,8'8.`8888,8^8.`8888.      8 888888888888 8 8888          88  8 8888      .8. `88888.
	    ,8' `8.`8888' `8.`8888.     8 8888         8 8888          88  8 8888     .8`8. `88888.
	   ,8'   `8.`88'   `8.`8888.    8 8888         8 8888         ,88  8 8888    .8' `8. `88888.
	  ,8'     `8.`'     `8.`8888.   8 8888         8 8888        ,88'  8 8888   .8'   `8. `88888.
	 ,8'       `8        `8.`8888.  8 8888         8 8888    ,o88P'    8 8888  .888888888. `88888.
	,8'         `         `8.`8888. 8 888888888888 8 888888888P'       8 8888 .8'       `8. `88888.
*/

@media (max-width: 720px)
{
	.navBody{
		display: none;
	}
	.navbar:hover>.navBody{
		display: block;
	}
	.navHead,.navBody,.navBody li{
		width: 100%;
		float: none;
	}
	.dropHead>ul{
		position: static;
		width: 100%;
		padding-left: 16px;
		box-sizing: border-box;
		border: none;
	}
}
@media ( min-width: 720px )
{

	[class*="col-"]:not(:last-of-type){
		/*margin-right: 5px;*/
		padding-right: 5px;
	}
	[class*="col-"]:not(:first-of-type){
		/*margin-right: 5px;*/
		padding-left: 5px;
	}


	.col-1{	width: 8.33%;}
	.col-2{	width: 16.66%;}
	.col-3{	width: 25%;}
	.col-4{	width: 33.33%;}
	.col-5{	width: 41.66%;}
	.col-6{	width: 50%;}
	.col-7{	width: 58.33%;}
	.col-8{	width: 66.66%;}
	.col-9{	width: 75%;}
	.col-10{ width: 83.33%;}
	.col-11{ width: 91.66%;}
	.col-12{ width: 100%;}


	/*
		
		    ,o888888o.     8 8888888888   8 8888888888    d888888o.   8 8888888888 8888888 8888888888
		 . 8888     `88.   8 8888         8 8888        .`8888:' `88. 8 8888             8 8888
		,8 8888       `8b  8 8888         8 8888        8.`8888.   Y8 8 8888             8 8888
		88 8888        `8b 8 8888         8 8888        `8.`8888.     8 8888             8 8888
		88 8888         88 8 888888888888 8 888888888888 `8.`8888.    8 888888888888     8 8888
		88 8888         88 8 8888         8 8888          `8.`8888.   8 8888             8 8888
		88 8888        ,8P 8 8888         8 8888           `8.`8888.  8 8888             8 8888
		`8 8888       ,8P  8 8888         8 8888       8b   `8.`8888. 8 8888             8 8888
		 ` 8888     ,88'   8 8888         8 8888       `8b.  ;8.`8888 8 8888             8 8888
		    `8888888P'     8 8888         8 8888        `Y8888P ,88P' 8 888888888888     8 8888
	*/

	.columnOffset-1{ margin-left: 8.33%;}
	.columnOffset-2{ margin-left: 16.66%;}
	.columnOffset-3{ margin-left: 25%;}
	.columnOffset-4{ margin-left: 33.33%;}
	.columnOffset-5{ margin-left: 41.66%;}
	.columnOffset-6{ margin-left: 50%;}
	.columnOffset-7{ margin-left: 58.33%;}
	.columnOffset-8{ margin-left: 66.66%;}
	.columnOffset-9{ margin-left: 75%;}
	.columnOffset-10{ margin-left: 83.33%;}
	.columnOffset-11{ margin-left: 91.66%;}
	.columnOffset-12{ margin-left: 100%;}


	.sidePanel ul{
		display: block;
	}

	.sidePanel{
		width: 275px;
		background: none;
	}
	.sidePanel+.mainPanel{
	margin-left: 300px;
	}
}

/*
	          .         .
	         ,8.       ,8.           ,o888888o.     8 888888888o.            .8.          8 8888
	        ,888.     ,888.       . 8888     `88.   8 8888    `^888.        .888.         8 8888
	       .`8888.   .`8888.     ,8 8888       `8b  8 8888        `88.     :88888.        8 8888
	      ,8.`8888. ,8.`8888.    88 8888        `8b 8 8888         `88    . `88888.       8 8888
	     ,8'8.`8888,8^8.`8888.   88 8888         88 8 8888          88   .8. `88888.      8 8888
	    ,8' `8.`8888' `8.`8888.  88 8888         88 8 8888          88  .8`8. `88888.     8 8888
	   ,8'   `8.`88'   `8.`8888. 88 8888        ,8P 8 8888         ,88 .8' `8. `88888.    8 8888
	  ,8'     `8.`'     `8.`8888.`8 8888       ,8P  8 8888        ,88'.8'   `8. `88888.   8 8888
	 ,8'       `8        `8.`8888.` 8888     ,88'   8 8888    ,o88P' .888888888. `88888.  8 8888
	,8'         `         `8.`8888.  `8888888P'     8 888888888P'   .8'       `8. `88888. 8 888888888888
*/

.modalBG{
	position: fixed;
	display: none;
	z-index: +23;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.modal{
	position: relative;
	top: 50px;
	width: 80%;
	left: 10%;
	z-index: +24;
	margin-bottom: 50px;
}

.modalHead,.modalFoot{
	padding: 10px;
}
.modalBody{
	padding: 20px;
}

/*
	
	    ,o888888o.           .8.          8 888888888o.   8 888888888o.
	   8888     `88.        .888.         8 8888    `88.  8 8888    `^888.
	,8 8888       `8.      :88888.        8 8888     `88  8 8888        `88.
	88 8888               . `88888.       8 8888     ,88  8 8888         `88
	88 8888              .8. `88888.      8 8888.   ,88'  8 8888          88
	88 8888             .8`8. `88888.     8 888888888P'   8 8888          88
	88 8888            .8' `8. `88888.    8 8888`8b       8 8888         ,88
	`8 8888       .8' .8'   `8. `88888.   8 8888 `8b.     8 8888        ,88'
	   8888     ,88' .888888888. `88888.  8 8888   `8b.   8 8888    ,o88P'
	    `8888888P'  .8'       `8. `88888. 8 8888     `88. 8 888888888P'
*/

.agentsCard{
	display: none;
	position: fixed;
	top: 10%;
	height: 60%;
	width: 60%;
	left: 20%;
	z-index: +24;
}

.agentDetail{
	/*position: relative;*/
	/*top: 20px;*/
	width: 65%;
	position: relative;
	box-sizing: border-box;
	height: 100%;
	/*border: 1px solid yellowgreen;*/
	float: left;
}

.agentDescription{
	padding: 16px;
	padding-top: 0px;
	margin: auto 0px;
	max-height: 80%;
	overflow-y: auto;
}

.closeCard{
	position: absolute;
	bottom: 0px;
}

.agentPic{
	/*position: relative;*/
	top: 20px;
	float: left;
	margin: auto 0px;
	box-sizing: border-box;
	padding: 10px;
	/*right: 20px;*/
	width: 35%;
	height: 100%;
}

.agentPic>div.pic{
	width: 100%;
	height: 100%;

}

/*
	
	8 888888888o.      8 8888888888   8 8888888888       .8.       8 8888      88 8 8888   8888888 8888888888
	8 8888    `^888.   8 8888         8 8888            .888.      8 8888      88 8 8888         8 8888
	8 8888        `88. 8 8888         8 8888           :88888.     8 8888      88 8 8888         8 8888
	8 8888         `88 8 8888         8 8888          . `88888.    8 8888      88 8 8888         8 8888
	8 8888          88 8 888888888888 8 888888888888 .8. `88888.   8 8888      88 8 8888         8 8888
	8 8888          88 8 8888         8 8888        .8`8. `88888.  8 8888      88 8 8888         8 8888
	8 8888         ,88 8 8888         8 8888       .8' `8. `88888. 8 8888      88 8 8888         8 8888
	8 8888        ,88' 8 8888         8 8888      .8'   `8. `88888.` 8888     ,8P 8 8888         8 8888
	8 8888    ,o88P'   8 8888         8 8888     .888888888. `88888. 8888   ,d8P  8 8888         8 8888
	8 888888888P'      8 888888888888 8 8888    .8'       `8. `88888. `Y88888P'   8 888888888888 8 8888
*/
body{
	color: #343434;
	/*text-shadow: 0px 0px 3px rgba(0,0,0,0.3);*/
}
body.inverseBody{
	color: #ccc;
}
.inverseBody .modal,.inverseBody .dropHead>ul,
.inverseBody .agentDescription,.inverseBody .agentPic{
	background: rgba(0,0,0,0.7);
	/*box-shadow: inset 0px 0px 15px 0px black;*/
}
.inverseBody button:hover,.inverseBody .button:hover{
	background-color: transparent;
	color: white;
		/*background: rgba(100,100,100,0.1);*/
}
body.inverseBody>div.bodyBG{
	filter: brightness(30%);
	 background: #000000 url("../bg/hydraweb.png") no-repeat center center;
}
.sidePanel{
	/*background: rgba(50,50,50,0.4);*/
}
.sidePanel,.mainPanel,.agentPic,
.modalHead,.modalFoot,.agentDescription,
.panel,code{
	border: 1px solid #ccc;
}
.navBody>ul>li>a:hover,
.dropHead>ul>li>a:hover{
	color: white;
	background: #454545;
	/*padding-left: 10px;*/
}
.modalBG{
	background: rgba(0,0,0,0.9);
}
a,input[type="text"],input[type="number"],input[type="email"],
select>option,input[type="password"],textarea,select,
select option:hover,.button,button{
	color: inherit;
}
code{
	color: red;
}
hr{
	border: none;
	border-bottom: 1px solid;
}
hr,.navbar,
input[type="text"]:focus,input[type="number"],input[type="email"]:focus,input[type="password"]:focus,textarea:focus{
	/*border: none;*/
	border-color: #cccccc;
}
input[type="text"],input[type="number"],input[type="email"],input[type="password"],textarea,select,
.modal,.agentsCard{
	background: inherit;
}

button,.button,input[type="button"],input[type="submit"],input[type="reset"],
kbd{
	color: white;
	background-color: #454545; 
	border: 1px solid #454545;
}
button:hover,.button:hover,input[type="button"]:hover,input[type="submit"]:hover,input[type="reset"]:hover{
	background-color: transparent;
	color: #454545;
		/*background: rgba(100,100,100,0.1);*/
}
th,td{
	border-bottom: 1px solid #cccccc;
}
.formElement{
	border: 1px solid #cccccc;
}
.modal{
    /*border: 27px solid transparent;*/
    border: 1px solid;
	/*border-image: url("border.png") 27 repeat;*/
}
.modal{
	background: white;
	/*box-shadow: inset 0px 0px 15px 0px black;*/
}
.sidePanel a{
	/*color: #454545;*/
	/*background: white;*/
}
.sidePanel a:hover{
	color: white;
	background: #454545;
}
.linkActive{
	color: white;
	background: #242424;
}
::-webkit-scrollbar{
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track{
	background: white;
}
::-webkit-scrollbar-thumb,kbd{
	background: #242424;
}
::-webkit-scrollbar-thumb:window-inactive{
	background: #050505;
}
::webkit-scrollbar-thumb:hover{
	background: greenyellow;
}
/*
	
	    ,o888888o.        ,o888888o.     8 8888         ,o888888o.     8 888888888o.     d888888o.
	   8888     `88.   . 8888     `88.   8 8888      . 8888     `88.   8 8888    `88.  .`8888:' `88.
	,8 8888       `8. ,8 8888       `8b  8 8888     ,8 8888       `8b  8 8888     `88  8.`8888.   Y8
	88 8888           88 8888        `8b 8 8888     88 8888        `8b 8 8888     ,88  `8.`8888.
	88 8888           88 8888         88 8 8888     88 8888         88 8 8888.   ,88'   `8.`8888.
	88 8888           88 8888         88 8 8888     88 8888         88 8 888888888P'     `8.`8888.
	88 8888           88 8888        ,8P 8 8888     88 8888        ,8P 8 8888`8b          `8.`8888.
	`8 8888       .8' `8 8888       ,8P  8 8888     `8 8888       ,8P  8 8888 `8b.    8b   `8.`8888.
	   8888     ,88'   ` 8888     ,88'   8 8888      ` 8888     ,88'   8 8888   `8b.  `8b.  ;8.`8888
	    `8888888P'        `8888888P'     8 888888888888 `8888888P'     8 8888     `88. `Y8888P ,88P'
*/



.textWhite{color: white;}
.textDarkGrey{color: #454545;}
.textRed{color: red;}
.textGreen{color: greenyellow;}
.textBlue{color: dodgerblue;}
.textViolet{color: blueviolet;}
.textOrange{color: orange;}
.textYellow{color: yellow;}
.textLightGrey{color: #aaaaaa;}



.buttonDarkGrey1,.buttonDarkGrey2:hover{
	color: #454545;
	background-color: white;
	border-color: #454545;
}
.buttonDarkGrey2,.buttonDarkGrey1:hover{
	background-color: #454545;
	border-color: #454545;
	color: white;
}

.buttonRed1,.buttonRed2:hover{
	color: red;
	background-color: white;
	border-color: red;
}
.buttonRed2,.buttonRed1:hover{
	background-color: red;
	border-color: red;
	color: white;
}

.buttonGreen1,.buttonGreen2:hover{
	color: greenyellow;
	background-color: white;
	border-color: greenyellow;
}
.buttonGreen2,.buttonGreen1:hover{
	background-color: greenyellow;
	border-color: greenyellow;
	color: white;
}

.buttonDodgerBlue1,.buttonDodgerBlue2:hover{
	color: dodgerblue;
	background-color: white;
	border-color: dodgerblue;
}
.buttonDodgerBlue2,.buttonDodgerBlue1:hover{
	background-color: dodgerblue;
	border-color: dodgerblue;
	color: white;
}

.buttonBlueViolet1,.buttonBlueViolet2:hover{
	color: blueviolet;
	background-color: white;
	border-color: blueviolet;
}
.buttonBlueViolet2,.buttonBlueViolet1:hover{
	background-color: blueviolet;
	border-color: blueviolet;
	color: white;
}

.buttonOrange1,.buttonOrange2:hover{
	color: orange;
	background-color: white;
	border-color: orange;
}
.buttonOrange2,.buttonOrange1:hover{
	background-color: orange;
	border-color: orange;
	color: white;
}

.buttonLightGrey1,.buttonLightGrey2:hover{
	color: lightgrey;
	background-color: white;
	border-color: lightgrey;
}
.buttonLightGrey2,.buttonLightGrey1:hover{
	background-color: lightgrey;
	border-color: lightgrey;
	color: white;
}





/*
	
	8 888888888o       ,o888888o.     8 888888888o.   8 888888888o.      8 8888888888   8 888888888o.
	8 8888    `88.  . 8888     `88.   8 8888    `88.  8 8888    `^888.   8 8888         8 8888    `88.
	8 8888     `88 ,8 8888       `8b  8 8888     `88  8 8888        `88. 8 8888         8 8888     `88
	8 8888     ,88 88 8888        `8b 8 8888     ,88  8 8888         `88 8 8888         8 8888     ,88
	8 8888.   ,88' 88 8888         88 8 8888.   ,88'  8 8888          88 8 888888888888 8 8888.   ,88'
	8 8888888888   88 8888         88 8 888888888P'   8 8888          88 8 8888         8 888888888P'
	8 8888    `88. 88 8888        ,8P 8 8888`8b       8 8888         ,88 8 8888         8 8888`8b
	8 8888      88 `8 8888       ,8P  8 8888 `8b.     8 8888        ,88' 8 8888         8 8888 `8b.
	8 8888    ,88'  ` 8888     ,88'   8 8888   `8b.   8 8888    ,o88P'   8 8888         8 8888   `8b.
	8 888888888P       `8888888P'     8 8888     `88. 8 888888888P'      8 888888888888 8 8888     `88.
*/



.borderRed{
	border:1px solid red;
}

.borderGreen{
	border:1px solid greenyellow;
}

.borderBlue{
	border:1px solid dodgerblue;
}

.borderViolet{
	border:1px solid blueviolet;
}

.borderOrange{
	border:1px solid orange;
}

.borderYellow{
	border:1px solid yellow;
}

.borderLightGrey{
	border:1px solid #ccc;
}

.border{
	border: 1px solid;
}

.borderBottom{
	border-bottom: 1px solid inherit;
	border-top:  1px solid transparent;
	border-left:  1px solid transparent;
	border-right:  1px solid transparent;
}

.borderTop{
	border-top: 1px solid inherit;
	border-bottom:  1px solid transparent;
	border-left:  1px solid transparent;
	border-right:  1px solid transparent;
}

.borderLeft{
	border-left: 1px solid inherit;
	border-top:  1px solid transparent;
	border-bottom:  1px solid transparent;
	border-right:  1px solid transparent;
}

.borderRight{
	border-right: 1px solid inherit;
	border-top:  1px solid transparent;
	border-left:  1px solid transparent;
	border-bottom:  1px solid transparent;
}


/*
	
	8 888888888o       ,o888888o.
	8 8888    `88.    8888     `88.
	8 8888     `88 ,8 8888       `8.
	8 8888     ,88 88 8888
	8 8888.   ,88' 88 8888
	8 8888888888   88 8888
	8 8888    `88. 88 8888   8888888
	8 8888      88 `8 8888       .8'
	8 8888    ,88'    8888     ,88'
	8 888888888P       `8888888P'
*/


.bgRed{
	background-color: red;
	/*border-color: red;*/
}

.bgGreen{
	background-color: greenyellow;
	/*border-color: greenyellow;*/
}

.bgBlue{
	background-color: dodgerblue;
	/*border-color: dodgerblue;*/
}

.bgViolet{
	background-color: blueviolet;
	/*border-color: blueviolet;*/
}

.bgOrange{
	background-color: orange;
	/*border-color: orange;*/
}

.bgYellow{
	background-color: yellow;
	/*border-color: yellow;*/
}
.bgDarkGrey{
	background-color: #454545;
	/*border-color: yellow;*/
}
.bgWhite{
	background-color: white;
}


/*
	
	8 888888888o.      ,o888888o.     8 8888      88 b.             8 8 888888888o.      8 8888888888   8 888888888o.
	8 8888    `88.  . 8888     `88.   8 8888      88 888o.          8 8 8888    `^888.   8 8888         8 8888    `^888.
	8 8888     `88 ,8 8888       `8b  8 8888      88 Y88888o.       8 8 8888        `88. 8 8888         8 8888        `88.
	8 8888     ,88 88 8888        `8b 8 8888      88 .`Y888888o.    8 8 8888         `88 8 8888         8 8888         `88
	8 8888.   ,88' 88 8888         88 8 8888      88 8o. `Y888888o. 8 8 8888          88 8 888888888888 8 8888          88
	8 888888888P'  88 8888         88 8 8888      88 8`Y8o. `Y88888o8 8 8888          88 8 8888         8 8888          88
	8 8888`8b      88 8888        ,8P 8 8888      88 8   `Y8o. `Y8888 8 8888         ,88 8 8888         8 8888         ,88
	8 8888 `8b.    `8 8888       ,8P  ` 8888     ,8P 8      `Y8o. `Y8 8 8888        ,88' 8 8888         8 8888        ,88'
	8 8888   `8b.   ` 8888     ,88'     8888   ,d8P  8         `Y8o.` 8 8888    ,o88P'   8 8888         8 8888    ,o88P'
	8 8888     `88.    `8888888P'        `Y88888P'   8            `Yo 8 888888888P'      8 888888888888 8 888888888P'
*/


.rounded0{
	border-radius: 0px;
}
.rounded4{
	border-radius: 4px;
}
.rounded8{
	border-radius: 8px;
}
.rounded16{
	border-radius: 16px;
}
.rounded24{
	border-radius: 24px;
}
.rounded32{
	border-radius: 32px;
}
.rounded48{
	border-radius: 48px;
}
.rounded64{
	border-radius: 64px;
}
.rounded128{
	border-radius: 128px;
}

/*
	
	8 888888888o      .8.          8 888888888o.      8 888888888o.       8 8888 b.             8     ,o888888o.
	8 8888    `88.   .888.         8 8888    `^888.   8 8888    `^888.    8 8888 888o.          8    8888     `88.
	8 8888     `88  :88888.        8 8888        `88. 8 8888        `88.  8 8888 Y88888o.       8 ,8 8888       `8.
	8 8888     ,88 . `88888.       8 8888         `88 8 8888         `88  8 8888 .`Y888888o.    8 88 8888
	8 8888.   ,88'.8. `88888.      8 8888          88 8 8888          88  8 8888 8o. `Y888888o. 8 88 8888
	8 888888888P'.8`8. `88888.     8 8888          88 8 8888          88  8 8888 8`Y8o. `Y88888o8 88 8888
	8 8888      .8' `8. `88888.    8 8888         ,88 8 8888         ,88  8 8888 8   `Y8o. `Y8888 88 8888   8888888
	8 8888     .8'   `8. `88888.   8 8888        ,88' 8 8888        ,88'  8 8888 8      `Y8o. `Y8 `8 8888       .8'
	8 8888    .888888888. `88888.  8 8888    ,o88P'   8 8888    ,o88P'    8 8888 8         `Y8o.`    8888     ,88'
	8 8888   .8'       `8. `88888. 8 888888888P'      8 888888888P'       8 8888 8            `Yo     `8888888P'
*/

.vPadding0{
	padding-top: 0px;
	padding-bottom: 0px;
}
.vPadding4{
	padding-top: 4px;
	padding-bottom: 4px;
}
.vPadding8{
	padding-top: 8px;
	padding-bottom: 8px;
}
.vPadding16{
	padding-top: 16px;
	padding-bottom: 16px;
}
.vPadding24{
	padding-top: 24px;
	padding-bottom: 24px;
}
.vPadding32{
	padding-top: 32px;
	padding-bottom: 32px;
}
.vPadding48{
	padding-top: 48px;
	padding-bottom: 48px;
}
.vPadding64{
	padding-top: 64px;
	padding-bottom: 64px;
}
.vPadding128{
	padding-top: 128px;
	padding-bottom: 128px;
}
.hPadding0{
	padding-left: 0px;
	padding-right: 0px;
}
.hPadding4{
	padding-left: 4px;
	padding-right: 4px;
}
.hPadding8{
	padding-left: 8px;
	padding-right: 8px;
}
.hPadding16{
	padding-left: 16px;
	padding-right: 16px;
}
.hPadding24{
	padding-left: 24px;
	padding-right: 24px;
}
.hPadding32{
	padding-left: 32px;
	padding-right: 32px;
}
.hPadding48{
	padding-left: 48px;
	padding-right: 48px;
}
.hPadding64{
	padding-left: 64px;
	padding-right: 64px;
}
.hPadding128{
	padding-left: 128px;
	padding-right: 128px;
}

.padding0{
	padding: 0px;
}
.padding4{
	padding: 4px;
}
.padding8{
	padding: 8px;
}
.padding16{
	padding: 16px;
}
.padding24{
	padding: 24px;
}
.padding32{
	padding: 32px;
}
.padding48{
	padding: 48px;
}
.padding64{
	padding: 64px;
}
.padding128{
	padding: 128px;
}

/*
	          .         .
	         ,8.       ,8.                   .8.          8 888888888o.      ,o888888o.     8 8888 b.             8
	        ,888.     ,888.                 .888.         8 8888    `88.    8888     `88.   8 8888 888o.          8
	       .`8888.   .`8888.               :88888.        8 8888     `88 ,8 8888       `8.  8 8888 Y88888o.       8
	      ,8.`8888. ,8.`8888.             . `88888.       8 8888     ,88 88 8888            8 8888 .`Y888888o.    8
	     ,8'8.`8888,8^8.`8888.           .8. `88888.      8 8888.   ,88' 88 8888            8 8888 8o. `Y888888o. 8
	    ,8' `8.`8888' `8.`8888.         .8`8. `88888.     8 888888888P'  88 8888            8 8888 8`Y8o. `Y88888o8
	   ,8'   `8.`88'   `8.`8888.       .8' `8. `88888.    8 8888`8b      88 8888   8888888  8 8888 8   `Y8o. `Y8888
	  ,8'     `8.`'     `8.`8888.     .8'   `8. `88888.   8 8888 `8b.    `8 8888       .8'  8 8888 8      `Y8o. `Y8
	 ,8'       `8        `8.`8888.   .888888888. `88888.  8 8888   `8b.     8888     ,88'   8 8888 8         `Y8o.`
	,8'         `         `8.`8888. .8'       `8. `88888. 8 8888     `88.    `8888888P'     8 8888 8            `Yo
*/



.vMargin0{
	margin-top: 0px;
	margin-bottom: 0px;
}
.vMargin4{
	margin-top: 4px;
	margin-bottom: 4px;
}
.vMargin8{
	margin-top: 8px;
	margin-bottom: 8px;
}
.vMargin16{
	margin-top: 16px;
	margin-bottom: 16px;
}
.vMargin24{
	margin-top: 24px;
	margin-bottom: 24px;
}
.vMargin32{
	margin-top: 32px;
	margin-bottom: 32px;
}
.vMargin48{
	margin-top: 48px;
	margin-bottom: 48px;
}
.vMargin64{
	margin-top: 64px;
	margin-bottom: 64px;
}
.vMargin128{
	margin-top: 128px;
	margin-bottom: 128px;
}




/*
	
	    ,o888888o.        ,o888888o.     b.             8 8888888 8888888888 8 888888888o.      ,o888888o.     8 8888           d888888o.
	   8888     `88.   . 8888     `88.   888o.          8       8 8888       8 8888    `88.  . 8888     `88.   8 8888         .`8888:' `88.
	,8 8888       `8. ,8 8888       `8b  Y88888o.       8       8 8888       8 8888     `88 ,8 8888       `8b  8 8888         8.`8888.   Y8
	88 8888           88 8888        `8b .`Y888888o.    8       8 8888       8 8888     ,88 88 8888        `8b 8 8888         `8.`8888.
	88 8888           88 8888         88 8o. `Y888888o. 8       8 8888       8 8888.   ,88' 88 8888         88 8 8888          `8.`8888.
	88 8888           88 8888         88 8`Y8o. `Y88888o8       8 8888       8 888888888P'  88 8888         88 8 8888           `8.`8888.
	88 8888           88 8888        ,8P 8   `Y8o. `Y8888       8 8888       8 8888`8b      88 8888        ,8P 8 8888            `8.`8888.
	`8 8888       .8' `8 8888       ,8P  8      `Y8o. `Y8       8 8888       8 8888 `8b.    `8 8888       ,8P  8 8888        8b   `8.`8888.
	   8888     ,88'   ` 8888     ,88'   8         `Y8o.`       8 8888       8 8888   `8b.   ` 8888     ,88'   8 8888        `8b.  ;8.`8888
	    `8888888P'        `8888888P'     8            `Yo       8 8888       8 8888     `88.    `8888888P'     8 888888888888 `Y8888P ,88P'
*/

.controlGroup:not(:last-of-type){
	padding-bottom: 0px;
}


/*
	          .         .
	         ,8.       ,8.           8 8888    d888888o.       ,o888888o.
	        ,888.     ,888.          8 8888  .`8888:' `88.    8888     `88.
	       .`8888.   .`8888.         8 8888  8.`8888.   Y8 ,8 8888       `8.
	      ,8.`8888. ,8.`8888.        8 8888  `8.`8888.     88 8888
	     ,8'8.`8888,8^8.`8888.       8 8888   `8.`8888.    88 8888
	    ,8' `8.`8888' `8.`8888.      8 8888    `8.`8888.   88 8888
	   ,8'   `8.`88'   `8.`8888.     8 8888     `8.`8888.  88 8888
	  ,8'     `8.`'     `8.`8888.    8 8888 8b   `8.`8888. `8 8888       .8'
	 ,8'       `8        `8.`8888.   8 8888 `8b.  ;8.`8888    8888     ,88'
	,8'         `         `8.`8888.  8 8888  `Y8888P ,88P'     `8888888P'
*/



.noDeco{
	text-decoration: none;
}

.overFlowX{
	overflow-x: auto;
}

.pullRight{
	float: right;
}

.clearFix::after{
	content: "";
	display: block;
	clear: both;
}